@import "https://fonts.googleapis.com/css?family=Leckerli+One";

body {
  font-family: "Leckerli One";
  background-color: #222;
}

/*Card root style */
.card {
  position: block;
  width: 300px;
  height: 300px;
  perspective: 500px;
  margin: 30px auto;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.hover-on .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #00a896;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  background: #00a896;
  color: white;
  transform: rotateY(180deg);
}

.color-1 .card .front {
  color: #05668d;
}
.color-1 .card .back {
  background: #05668d;
  color: white;
}
.color-2 .card .front {
  color: #028090;
}
.color-2 .card .back {
  background: #028090;
  color: white;
}
.color-3.card .front {
  color: #00a896;
}
.color-3 .card .back {
  background: #00a896;
  color: white;
}
.color-4 .card .front {
  color: #02c39a;
}
.color-4 .card .back {
  background: #02c39a;
  color: white;
}
.color-5 .card .front {
  color: #70c1b3;
}
.color-5 .card .back {
  background: #70c1b3;
  color: white;
}

/*Radio input style */
ul {
  text-align: center;
  margin-top: 120px;
  margin-left: -40px;
}
ul li {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}

.radio-input {
  width: 420px;
  display: block;
  margin: 0 auto;
}
.radio-input input {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.radio-input input + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.radio-input input + label b {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}

.radio-input input + label b img {
  opacity: 0;
  transition: all 0.3s ease;
}

.radio-input input[value="color-1"] + label b {
  background-color: #05668d;
}
.radio-input input[value="color-2"] + label b {
  background-color: #028090;
}
.radio-input input[value="color-3"] + label b {
  background-color: #00a896;
}
.radio-input input[value="color-4"] + label b {
  background-color: #02c39a;
}
.radio-input input[value="color-5"] + label b {
  background-color: #70c1b3;
}
.radio-input input[type="radio"]:checked + label b img {
  opacity: 1;
}

.radio-input .title {
  display: inline-block;
  color: white;
  font-size: 45px;
  line-height: 34px;
}
